OWNTRACKS_URL=https://tristram.bishop-bass.ts.net/otrecorder
OWNTRACKS_USER=
OWNTRACKS_DEVICE=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
STORE_PATH=/data/autolog.db
SCHEDULER_INTERVAL=6h
LOG_LEVEL=info

# Set to true to print notifications to stdout instead of sending via Telegram
NOTIFY_STDOUT=false
